<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>534136375066-q7k9hrn00744lut6nv6hfhq275m7r1l8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.534136375066-q7k9hrn00744lut6nv6hfhq275m7r1l8</string>
	<key>API_KEY</key>
	<string>AIzaSyB72IinKd7ovxoYh2mQy7tQcfFTkGdx_tk</string>
	<key>GCM_SENDER_ID</key>
	<string>534136375066</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>test.cineApp</string>
	<key>PROJECT_ID</key>
	<string>cineapp-d60d6</string>
	<key>STORAGE_BUCKET</key>
	<string>cineapp-d60d6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:534136375066:ios:971e902f547305189acea3</string>
	<key>DATABASE_URL</key>
	<string>https://cineapp-d60d6.firebaseio.com</string>
</dict>
</plist>